/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

p {
  color: #fff;
}
.p1{
  color: grey;
}
/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */
nav,
.header-links {
  display: flex;
}

nav {
  background-color: #ee4b2b;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.header-links {
  gap: 1.5rem;
  list-style: none;
  font-size: 1.2rem;
}

a {
  color: #fff;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}




/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#left-section {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

#left-section .img-container {
  display: flex;
  height: 350px;
  width: 400px;
  margin: auto 0;
}

.right-section {
  align-self: center;
  text-align: center;
}

.right-section {
  font-weight: 600;
}

.text-p1 {
  text-align: center;
}
.title{
  color: #ee4b2b;
}

.text-p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.social-container {
  display: flex;
  justify-content: center;
  margin-top: 0.4rem;
  gap: 6rem;
}
.social-container img{
  max-width: 30%;
  max-height: 20%;
  
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  color:#fff
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}
.text-p1{
  padding-top: 5%;
}
.img-container {
  display: flex;
  height: 500px;
  width: 40%;
  margin: auto 0;
}
.about-section{
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: #ee4b2b;
  padding-top: 10%;
  padding-bottom:10%;
  border-radius: 2rem;

}

.about-details-container {
  justify-content: center;
  flex-direction: column;
  height: 400%;
  
}

.about-section,
.about-details-container {
  display: flex;
  height: 100%;
}

.about-pic {
  padding-left: 10%;
}

.detail-section {
  padding: 1rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  padding-top: 0%;
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#skills {
  position: relative;
}

.skills-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.all-skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ee4b2b;
  border-radius: 2rem;
}

.article-section {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
  color:rgb(0, 0, 0);
 
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

.projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  height: 80%;
}

.project-img {
  width: 90px;
  height: 90px;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-section {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}